name: 'Build and Test PR'
on:
  pull_request:
    branches:
      - master
concurrency:
  # Latest code is always prioritized to run per workflow per branch.
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:

  build-and-test:
    name: 'Poetry: Build and Test'
    runs-on: ubuntu-latest
    steps:
      - name: 'Check out code'
        uses: actions/checkout@v3
      - name: 'Install Nix/Cachix'
        uses: cachix/install-nix-action@v18
        with:
          # Keep nix at <=2.7 https://github.com/NixOS/nix/issues/6572
          install_url: https://releases.nixos.org/nix/nix-2.7.0/install
          extra_nix_config: |
            substituters = http://cache.nixos.org https://cache.iog.io
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ=
      - uses: cachix/cachix-action@v10
        with:
          name: runtimeverification
          signingKey: '${{ secrets.RV_DEVOPS_CACHIX_TOKEN }}'
          skipPush: true
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9' 
      - name: 'Install Poetry'
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          poetry --version
      - name: 'Formatting and Type Checking'
        run: make
      - name: 'Kup list works'
        run: poetry run kup list
      - name: 'Build via Nix'
        run: nix build
